<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/table_styles.css">
	<title>Email</title>
</head>
<body>
	<h2>{{subject}}</h2>
	<div>
		<p>You are receiving a notification email from WarnMe. Please visit our <a href="https://github.com/wellingtongranja/warnme">GitHub repository</a> for more information.</p>
	</div>
	<footer style="text-align: center;">
		<img src="cid:Footer_image" alt="Footer Image" style="display: block; margin: 0 auto;">
		<p style="font-size: 10px; color: #467; margin-top: 5px; text-align: center;">
			{{CURRENT_DATETIME}}
		</p>
		<p style="font-size: 10px; color: #467; margin-top: 20px; text-align: center;">
			This email and any attachments are confidential and may be privileged. If you are not the intended recipient, please notify the sender immediately and delete this email from your system. Any unauthorized use, disclosure, or copying of this email or any attachments is strictly prohibited.
		</p>
	</footer>    
</body>
</html>